{% extends "base.html" %}
{% load static %}

{% block title %}
search
{% endblock %}

{% block body %}

<div>
    <p class="text-center my_search_text">You have searched for : <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="row my_bottom_margin col-9 col-sm-12 col-md-4">
            <div class="card text-center" style="min-width: 18rem;">
                <a href="{{product.get_url}}"><img class="card-image-top" src="{{product.image.url}}" alt=""></a>


                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>Rs.{{product.price}}</p>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text">0 results found</p>
        </div>
        {% endfor %}
    </div>    
</div>
{% endblock %}
